@page "/creategame"

<PageTitle>Create Game</PageTitle>

<div>
    <form method="post" action="creategame">
        <h3>Create a new Cointoss game</h3>

        <div class="form-group">
            <label for="Sum">Enter your bet</label>
            <input type="number" for="Sum" />
            <span></span>
        </div>

        <br />

        <div class="form-group">
            <label for="">Heads or tails?</label>
            <select for="" name="HeadsOrTails">
                <option value="0">Heads</option>
                <option value="1">Tails</option>
            </select>
            <span></span>
        </div>

        <br />

        <div class="form-group">
            <label>Create game</label>
            <input type="submit" value="Create game" />
        </div>

        <br />
    </form>
</div>

<style>

</style>

