@page "/deletegame/{gameId}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using DataBasHunters.Shared;

<h1>Delete Game</h1>

<form @onsubmit="DeleteGameHandler">
   

    <button type="submit" class="btn btn-primary">Delete game</button>
</form>

@code {
    private Cointoss NewCointoss = new Cointoss();
    [Parameter]
    public string gameId { get; set; }
    private async Task DeleteGameHandler()
    {
        var response = await Http.PostAsync($"DeleteGame/{gameId}", null);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/fetchdatamygames");
        }
        else
        {
            // Handle errors, show error message, etc.
        }
    }
}

