@page "/deletegame/{gameId}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using DataBasHunters.Shared;

<h1>Delete Game</h1>

<form @onsubmit="DeleteGameHandler">
    <div class="form-group">
        <label for="Sum">Delete</label>     
        <span></span>
    </div>

    <button type="submit" class="btn btn-primary">Create game</button>
</form>

@code {
    private Cointoss NewCointoss = new Cointoss();

    private async Task DeleteGameHandler()
    {
        //var response = await Http.PostAsJsonAsync("RemoveGame", CoinTossId);

       // if (response.IsSuccessStatusCode)
        //{
       //     NavigationManager.NavigateTo("/fetchdatagames");
       // }
        //else
       // {
            // Handle errors, show error message, etc.
       // }
    }
}

