@page "/"

<PageTitle>Index</PageTitle>

<h1>Project Cointoss</h1>

Welcome to the project cointoss application.

<br />
<br />

<p>You can challenge your friends in a cointoss game to steal their virtual funds. However, the win is not guaranteed you can be the one who loses aswell.</p>

<br />

