@page "/UserProfile"
@inherits LayoutComponentBase
@using DataBasHunters.Shared
@inject HttpClient Http

<div class="container">
    <h1>User Profile</h1>

    @if (user != null)
    {
        <div>
            <h3>Welcome, @user.Username!</h3>
            <p>User ID: @user.Id</p>
            <p>Funds: @user.Funds</p>
            <p>Profile Picture: <img src="@user.Profilepicture" alt="Profile Picture" /></p>
        </div>
    }
    else
    {
        <p>Please log in to view your profile.</p>
    }
</div>

@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {
        // Retrieve information about the logged-in user
        // You need to implement a mechanism to get the logged-in user's information
        // This is just a placeholder, and you should replace it with the actual logic.

        // Make an HTTP request to UserProfile action to get user information
        var response = await Http.GetAsync("GetUser");

        if (response.IsSuccessStatusCode)
        {
            user = await response.Content.ReadFromJsonAsync<User>();
        }
    }
}
