@page "/userprofile"

@using DataBasHunters.Shared
@inject HttpClient Http
@using Microsoft.Data.SqlClient;

<PageTitle>Profile</PageTitle>

<h1>User profile</h1>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Funds</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                 <td>@user.Id</td>
                 <td>@user.Funds</td>
                 <td>@user.Username</td>
                 <td>@user.Password</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<User>("GetUser");

        if (response != null)
        {
            user = response;
        }
    }
}


